       <div ng-include="'toolbar.html'"></div>
<div  class="toolbar-bg-box" md-scroll-shrink="" ng-style="{'background-color':primaryColor}">
</div>

        <div layout="row" layout-align="center start"  class="toolbar-content" >
          <md-card flex-gt-sm="90" flex-gt-md="60" >
            <pre> Page is not ready</pre>
          </md-card>
        </div>