 	<md-sidenav layout="column"  class="md-sidenav-left md-whiteframe-z2 " md-component-id="left" md-is-open="leftOpen" md-is-locked-open="leftOpen && $mdMedia('gt-md')" ui-view="navigation">
    </md-sidenav>
    <div layout="column" flex class="view main-content" ui-view="content" style="overflow:scroll">
    </div>