		 

<md-toolbar   ng-if="menu"  ng-class="{'fixed' : menu"} ng-style="{'background-color':primaryColor}">
    <div class="md-toolbar-tools" > 
      <md-button class="md-icon-button" ng-click="toggleSidenav('left')" aria-label="Menu">
        <ng-md-icon icon="menu"></ng-md-icon>
      </md-button>
    </div>
    <div flex></div>
  <div layout="row" layout-align="center center" style="width:100%">
      <h1 class="toolbar-title md-display-3" flex-gt-sm="90" flex-gt-md="60">Messages</h1>
  </div>
</md-toolbar>
  
<md-toolbar  ng-if="!menu"  md-scroll-shrink="" ng-style="{'background-color':primaryColor}">
    <div class="md-toolbar-tools" >
      <md-button class="md-icon-button" ng-click="toggleSidenav('left')" ng-model="menu" aria-label="Menu">
        <ng-md-icon icon="menu"></ng-md-icon>
      </md-button>
      <h3 >
    Messages
  </h3>
    </div>
</md-toolbar>

<div  class="toolbar-bg-box" md-scroll-shrink="" ng-style="{'background-color':primaryColor}">
</div>


  <div layout="row" layout-align="center start" class="toolbar-content">
    <md-card  flex-gt-sm="90" flex-gt-md="60" >
     <md-subheader class="md-no-sticky"><b>Past Messages</b></md-subheader>
      <md-list  ng-repeat="item in messages" ng-click="showDetails = ! showDetails" style="cursor:pointer">
        <md-list-item md-ink-ripple class="md-2-line" >
           <ng-md-icon icon="timer_auto"  ng-class="'icon'" ng-style="{'fill':'#fff','margin-top':'10px','background-color': 'rgb(224, 224, 224)'}" ></ng-md-icon>
          
          <div class="md-list-item-text" layout="column" >
            <h3>{{ item.question }}</h3>
             <p ng-hide="showDetails"><b>Answer - </b> {{ item.answer | limitTo: 20 }}...</p>
             <p ng-show="showDetails" ><b>Answer - </b> {{ item.answer}}</p> 
          </div>
          <md-divider md-inset ng-if="!$last"></md-divider>
        </md-list-item>
      </md-list>
    </md-card>

</div>


    


<md-button ng-click="ctrl.openSendBox($event)"  class="md-fab md-fab-bottom-right" aria-label="Add Post">
   <ng-md-icon icon="add"  ng-style="{'fill':'#fff'}" ></ng-md-icon>
</md-button>