<md-button href="blog/new" class="md-fab md-fab-bottom-right" aria-label="Add Post">
   <ng-md-icon icon="add"  ng-style="{'fill':'#fff'}" ></ng-md-icon>
</md-button>

<div ng-include="'toolbar.html'"></div>

<md-content layout="row" >
  <md-list class="md-list-posts" flex="30" >
    <md-list-item class="md-3-line" >
      <div class="md-list-item-text" layout="column">
        <h3>as</h3>
        <h4>  asdasdasdasdasdasd asdasdasdasdasdasd asva</h4>
        <p> asdasd</p>
      </div>
       <img ng-src="{{item.face}}?{{$index}}" class="md-list-post-image" alt="{{item.who}}" /> 
    </md-list-item>
    <md-divider ></md-divider>
    <md-list-item class="md-3-line" >
      <img ng-src="{{item.face}}?{{$index}}" class="md-avatar" alt="{{item.who}}" />
      <div class="md-list-item-text" layout="column">
        <h3>as</h3>
        <h4>asdasd</h4>
        <p>qweqweqw</p>
      </div>
    </md-list-item>
    <md-divider ></md-divider> <md-list-item class="md-3-line" >
      <img ng-src="{{item.face}}?{{$index}}" class="md-avatar" alt="{{item.who}}" />
      <div class="md-list-item-text" layout="column">
        <h3>as</h3>
        <h4>asdasd</h4>
        <p>qweqweqw</p>
      </div>
    </md-list-item>
    <md-divider ></md-divider> <md-list-item class="md-3-line" >
      <img ng-src="{{item.face}}?{{$index}}" class="md-avatar" alt="{{item.who}}" />
      <div class="md-list-item-text" layout="column">
        <h3>as</h3>
        <h4>asdasd</h4>
        <p>qweqweqw</p>
      </div>
    </md-list-item>
    <md-divider ></md-divider> <md-list-item class="md-3-line" >
      <img ng-src="{{item.face}}?{{$index}}" class="md-avatar" alt="{{item.who}}" />
      <div class="md-list-item-text" layout="column">
        <h3>as</h3>
        <h4>asdasd</h4>
        <p>qweqweqw</p>
      </div>
    </md-list-item>
    <md-divider ></md-divider> <md-list-item class="md-3-line" >
      <img ng-src="{{item.face}}?{{$index}}" class="md-avatar" alt="{{item.who}}" />
      <div class="md-list-item-text" layout="column">
        <h3>as</h3>
        <h4>asdasd</h4>
        <p>qweqweqw</p>
      </div>
    </md-list-item>
    <md-divider ></md-divider> <md-list-item class="md-3-line" >
      <img ng-src="{{item.face}}?{{$index}}" class="md-avatar" alt="{{item.who}}" />
      <div class="md-list-item-text" layout="column">
        <h3>as</h3>
        <h4>asdasd</h4>
        <p>qweqweqw</p>
      </div>
    </md-list-item>
    <md-divider ></md-divider> <md-list-item class="md-3-line" >
      <img ng-src="{{item.face}}?{{$index}}" class="md-avatar" alt="{{item.who}}" />
      <div class="md-list-item-text" layout="column">
        <h3>as</h3>
        <h4>asdasd</h4>
        <p>qweqweqw</p>
      </div>
    </md-list-item>
    <md-divider ></md-divider> <md-list-item class="md-3-line" >
      <img ng-src="{{item.face}}?{{$index}}" class="md-avatar" alt="{{item.who}}" />
      <div class="md-list-item-text" layout="column">
        <h3>as</h3>
        <h4>asdasd</h4>
        <p>qweqweqw</p>
      </div>
    </md-list-item>
    <md-divider ></md-divider> <md-list-item class="md-3-line" >
      <img ng-src="{{item.face}}?{{$index}}" class="md-avatar" alt="{{item.who}}" />
      <div class="md-list-item-text" layout="column">
        <h3>as</h3>
        <h4>asdasd</h4>
        <p>qweqweqw</p>
      </div>
    </md-list-item>
    <md-divider ></md-divider> <md-list-item class="md-3-line" >
      <img ng-src="{{item.face}}?{{$index}}" class="md-avatar" alt="{{item.who}}" />
      <div class="md-list-item-text" layout="column">
        <h3>as</h3>
        <h4>asdasd</h4>
        <p>qweqweqw</p>
      </div>
    </md-list-item>
    <md-divider ></md-divider>
  </md-list>

  <md-content flex>
     <md-toolbar class="toolbar-box "  layout="column" layout-align="center start">
        <div flex class="md-toolbar-tools ">
        <md-button ng-click="goBack()" aria-label="Back" style="min-width:0;">
        <ng-md-icon icon="arrow_back"></ng-md-icon>
        </md-button>
        <h3 >
        Back
        </h3>

        </div>
        <div flex></div>
        <div layout="row" layout-align="center center" style="width:100%">
        
            <h3 class="toolbar-title md-display-2" flex-gt-sm="90" flex-gt-md="80">{{ post.title }} </h3>
          
        </div>
      </md-toolbar>
  </md-concent>

</md-content>
   
 
