  
     <md-toolbar class="post-box"  layout="column" layout-align="center start" ng-style="{'background-color': post.category_color }">
        <div flex class="md-toolbar-tools ">
	        <md-button ng-click="goBack()" aria-label="Back" style="min-width:0;">
	        <ng-md-icon icon="arrow_back"></ng-md-icon>
	        </md-button>

	        <h3 >
	        Back
	        </h3>
	        <span flex></span>
	        <md-button class="md-icon-button">
              <ng-md-icon icon="share"></ng-md-icon>
            </md-button>
            <md-button class="md-icon-button">
              <ng-md-icon icon="favorite"></ng-md-icon>
            </md-button>
        </div>
        <div flex></div>
        <div layout="row" layout-align="center center" style="width:100%" layout-padding> 
        		<div flex-gt-sm="90" flex-gt-md="70">
        			 <h4 class="toolbar-title md-display-2" >{{ post.title }} </h4>

        		</div>  
           
        </div>


      </md-toolbar>
		  <md-content layout="row" layout-align="center center" layout-padding >
		  	<div flex-gt-sm="90" flex-gt-md="70" style="background:white;padding:25px 100px">
          <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
            <span flex></span>
            <md-button class="md-primary" href="#/blog/{{ post.id}}/edit">Edit</md-button>
            <md-button class="md-warn" ng-click="deletePost(post.id)">Delete</md-button>
          </section>
		   
          <p>{{ post.content }}</p> 
		    </div>
		  </md-content>
