<md-button href="blog/new" class="md-fab md-fab-bottom-right" aria-label="Add Post">
   <ng-md-icon icon="add"  ng-style="{'fill':'#fff'}" ></ng-md-icon>
</md-button>

  <md-content layout="row">
    <div class="md-list-posts"  flex="30" style="overflow:scroll">
      <div  ng-include="'toolbar.html'"></div>
      <md-card  ng-repeat="project in projects">
          <div class="portfolio-bg" ng-style="{'background-image':'url({{imagePath}})'}">
          </div>
          <md-card-actions layout="row" layout-align="start center">
            <md-card-title>
              <md-card-title-text>
                <span class="md-title">{{ project.title }}</span>
                <span class="md-body-1">{{ project.date }}</span>
              </md-card-title-text>
            </md-card-title>
            <md-button href="/portfolio/{{project.project_id}}">
              <ng-md-icon icon="more_vert"></ng-md-icon>
            </md-button>
          </md-card-actions>
        
        </md-card>

    </div>
      
    <md-content flex ui-view="">
    </md-content>

  </md-concent>